<div class="upperleft">
  <div class="upperright">
    <div class="lowerleft">
      <div class="lowerright">
          <section id='body_content'>
		  <%=raw @page.content_for(:body) %>
		  </section>
      </div>
    </div>
  </div>
</div>


