html,body {
	background-color: white;
	font-family: Verdana, Trebuchet MS, Arial, sans-serif;
	font-size: 10pt;
	text-align:left;
}

h1 {
	font-size: 14pt;
	margin: 0%;
}

acronym {
	cursor: help;
}

pre {
	margin: 0%;
}

#header {
	width: 400px;
	height: 170px;
	margin-left: auto;
	margin-right: auto;
    color: green;
	margin-bottom: 20px;
}
#logo a {
    display:none;
}
#logo-image {
    position: absolute;
    top: 10px;
    left: 10px;
}
#menu ul {
  text-decoration:none;
  margin-right:10px;
  list-style: none;
  padding: 0px;
  position: relative;
  top: 120px;
  li {
    border-top: solid;
    border-top-color: #00529B;
	float: right;
    position: relative;
    top: 10px;
    margin-right: 10px;
    a {
      font-weight:bold;
      font-size:14px;
      color: #00529B;
      display: block;
      padding: 5px 10px;
      text-decoration: none;
      color: #00529B;
    }
    &.selected a, a:hover {
      background: #00529B;
      color: white;
    }
  }
}



#footer {
	background-image:url(footer.png);
	text-align:center;
	width:480px;
	height:23px;
	margin-left:auto;
	margin-right:auto;
}