html,body {
	background-color: #D3E9D0;
	font-family: Verdana, Trebuchet MS, Arial, sans-serif;
	font-size: 10pt;
	text-align:center;
}

h1 {
	font-size: 14pt;
	margin: 0%;
}

acronym {
	cursor: help;
}

pre {
	margin: 0%;
}

div.upperleft {
	width: 520px;
	margin-left: auto;
	margin-right: auto;

	background-color: #AED7A8;
	background-image: url('upperleft.png');
	background-repeat: no-repeat;
	background-position: top left;
	text-align:left;
}

div.upperright {
	background-image: url('upperright.png');
	background-repeat: no-repeat;
	background-position: top right;
}

div.lowerleft {
	background-image: url('lowerleft.png');
	background-repeat: no-repeat;
	background-position: bottom left;
}

div.lowerright {
	background-image: url('lowerright.png');
	background-repeat: no-repeat;
	background-position: bottom right;
	padding: 3% 3% 3% 3%;
}

#header {
	width: 520px;
	height: 204px;
	margin-left: auto;
	margin-right: auto;
	background-image: url(header.jpg);
	margin-bottom: 20px;
}
#logo a{
    padding-right:10px;
    font-weight:bold;
    font-size:24px;
    color: white;
    text-decoration: none;
    float: right;
    padding: 5px;	
}


#menu ul {
  text-decoration:none;
  margin-right:10px;
  list-style: none;
  padding: 0px;
  li {
    border-top: solid;
    border-top-color: #AED7A8;
	float: left;
    position: relative;
    top: 170px;
    margin-right: 10px;
    a {
      font-weight:bold;
      font-size:14px;
      color: #0CAEC7;
      display: block;
      padding: 5px 10px;
      text-decoration: none;
      color: #0B4503;
    }
    &.selected a, a:hover {
      background: #0CAEC7;
      color: #0B4503;
    }
  }
}



#footer {
	background-image:url(footer.png);
	text-align:center;
	width:480px;
	height:23px;
	margin-left:auto;
	margin-right:auto;
}